#todoList{
    flex-grow: 1;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
}

#todoList .index{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.check,.regDate,.ctnt{
    height: 21px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 0px;
    margin-right: 0px;
}

.check{
    flex-basis: 30px;
}

.ctnt{
    flex-basis: 560px;
}

.regDate{
    flex-basis: 120px;
}