<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ksw09.dao.DailyTodoDAO">
    <select id="selectDailyTodoList" parameterType="LoginInfo" resultType="DailyTodoVO">
        select * from dailytodo where m_pk = #{m_pk}
    </select>
    <insert id="insertDailyTodoList" parameterType="DailyTodoVO">
        insert into dailytodo (ctnt,todoDate,m_pk)
        values (#{ctnt},#{todoDate},#{m_pk})
    </insert>
    <delete id="deleteDailyTodo" parameterType="DailyTodoVO">
        delete from dailytodo
        where daily_pk=#{daily_pk} and m_pk=#{m_pk}
        
    </delete>
</mapper>