<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ksw09.dao.NormalTodoDAO">
    <select id="selectNormalTodoList" parameterType="LoginInfo" resultType="NormalTodoVO">
        select * from normaltodo where m_pk = #{m_pk}
    </select>
    <insert id="insertNormalTodo" parameterType="NormalTodoVO">
        insert into normaltodo (ctnt, m_pk)
        values (#{ctnt}, #{m_pk})
    </insert>
    <delete id="deleteNormalTodo" parameterType="NormalTodoVO">
        delete from normaltodo
        where normal_pk=#{normal_pk} and m_pk=#{m_pk}
    </delete>
</mapper>